@import url('https://fonts.googleapis.com/css?family=Manrope');

body {
    font-family: 'Manrope', sans-serif;
}

.carousel { width: 85% !important;  }
.carousel-inner > .carousel-item > img {border-radius: 25px; }

br {
    display: block;
    margin: 1px 0;
 }
